useDynLib(tgcd, .registration=TRUE)

export(savgol, simPeak, simqOTOR, tgcd)

S3method(savgol, default)
S3method(simPeak, default)
S3method(simqOTOR, default)
S3method(tgcd, default)

importFrom(graphics, abline, axTicks, box, grid, layout, legend, locator, par, points)
importFrom(stats, median, runif, approx, nlm, cor)
importFrom(utils, edit, write.csv)

